body {
    background-color:  	#4d4d4d;
}

.nav-main {
    
    width: 100%;
    height: 50px;
    background-color:  #c3c3c3;
    display: flex;
    flex-wrap: wrap;
    z-index: 1000;
    border-bottom: 8px solid  #ffc100
}

.nav-footer {
    border-top: 6px solid #ffc100;
    width: 100%;
    height: 35px;
    background-color: #c3c3c3;
    display: flex;
    flex-wrap: wrap;
    z-index: 1000;
}

.logo {
    height: 38px;
    background:  #ffc100;
    position: fixed;
    top: 2px;
    left: 65px
}


.top {
    position: fixed;
    top: 0;
}

.bottom {
    position: fixed;
    bottom: 0;
}

.right {
    position: fixed;
    right: 0;
}

.right2 {
    position: relative;
    left: 350px;
}

.menuList {
    position: fixed;
    left: 50px;
}

.nav-main ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
}

.nav-main ul li {
    list-style: none;
    line-height: 46px;
}

.active-sidebar  ul li a:hover {
    background-color: #ffc100;
    color: #1b1b1b;
    padding-top: 10px;
} 

.nav-main ul li a {
    display: block;
    height: 100%;
    padding: 0 10px;
    text-decoration: none;
    color: white;
    font-family: arial;
    font-size: 16px;
}


.tab:hover {
    background-color: #ffc100;
    color: white;
}


.nav-footer ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
}

.nav-footer ul li {
    list-style: none;
    line-height: 30px;
}

.nav-footer ul li a {
    display: block;
    height: 100%;
    padding: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: #1b1b1b;
    font-family: arial;
    font-size: 10px;
}


.nav-sidebar {
    position: fixed;
    width: 60px;
    height: calc(100vh - 40px);
    padding: 0 5px;
    background-color: #322e45;
    z-index: 1;
    top: 40px;
}


.active-sidebar {
    position: fixed;
    top: 42px;
    width: 362px;
    /* height: calc(100vh - 50px); */
    padding: 0 5px;
    background-color: #ffc100;
    z-index: 1000;
    border-top: 8px solid  #322e45

}

.active-sidebar ul {
    padding-top: 25px;
    padding-right:40px;
} 

.active-sidebar  ul li {
    line-height: 15px;
    list-style: none;
}

.active-sidebar ul span, .active-sidebar  ul li a {
    display: block;
    height: 30px;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-family: arial;
    font-size: 16px;
    white-space: nowrap;
    padding-top: 10px;
}






/* .btnLeft {
    height: 300px;
    width: 50px;
    background-color: #666666;
}

.btnRight {
    height: 300px;
    width: 50px;
    background-color: #666666;
}

.scroll {
    border: none;
    outline: none;
}

.scroll:hover {
    
    background-color:#6e9f82
}

.btnLeft:active {
    
    background-color: #6e9f82;
    transform: translateX(-4px);
}

.btnRight:active {
    background-color: #666666;
    transform: translateX(4px);
} */

.jumbotron {
    padding-bottom: 30px;
    background-color: 	#c3c3c3;

}

.jumboContainer {
    float: left;
    position: relative;

}

.jumboContainer .btnLeft {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    display: inline-block;
    opacity: 0.5;
}

.jumboContainer .btnRight {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    display: inline-block;
    opacity: 0.5;
}

.jumboContainer .jumboTitle {
    position: absolute;
    bottom: 0px;
    left: 60px;
    color:#9ee4ba ;
}

.jumboImage {
    height: 500px;
    width: 750px;
    object-fit: contain;
}

.padded{
    padding-top: 50px;
}

.main {
    padding-bottom: 20px;
    color: #e3e3e3;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 1.5;
    height: auto;
}




h1 {
    color:  #ffc100;

    /* padding-bottom: 30px; */
    padding-top:30px;
}

p {
    padding-top: 20px;
}

h2 {
    color:#ffc100;
    /* padding-bottom: 30px; */
    padding-top:30px;
}

h3 {
    color:#ffc100;
    padding-bottom: 10px;
    padding-top:10px;
}

h4 {
    color:white;
    padding-bottom: 10px;
    padding-top:10px;
    font-family: 'Nothing You Could Do', cursive;
}

h5{
    color:#4d4d4d;

}

h1:hover {
    color: #cc9a00;
}

h2:hover {
    color: #cc9a00;
}

h3:hover {
    color: #cc9a00;
}


.floated-img {
    float:left;
    padding-right: 30px;
}

.footerMenu {
    
    display: inline-block;
}

.footerMenu .map {
    position: absolute;
    left: 10%
}

.footerMenu .copy {
    position: absolute;
    left: 45%
}

.footerMenu .contact {
    position: absolute;
    right: 10%
}


.linkColor {
    color:#ffc100;
}

.linkColor:hover {
    color: #cc9a00;
}

.selected {
    background-color: #ffc100;
    border-bottom: 8px solid  #322e45;
}

.footertab:hover {
    color: 	#322e45;
    background-color: #ffc100;
}


